<%= form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :locale_name %><br>
    <%= f.text_field :locale_name %>
  </div>
  <div class="field">
    <%= f.label :cca2 %><br>
    <%= f.text_field :cca2 %>
  </div>
  <div class="field">
    <%= f.label :ccn3 %><br>
    <%= f.text_field :ccn3 %>
  </div>
  <div class="field">
    <%= f.label :cca3 %><br>
    <%= f.text_field :cca3 %>
  </div>
  <div class="field">
    <%= f.label :tld %><br>
    <%= f.text_field :tld %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :calling_code %><br>
    <%= f.text_field :calling_code %>
  </div>
  <div class="field">
    <%= f.label :capital %><br>
    <%= f.text_field :capital %>
  </div>
  <div class="field">
    <%= f.label :alt_spellings %><br>
    <%= f.text_field :alt_spellings %>
  </div>
  <div class="field">
    <%= f.label :relevance %><br>
    <%= f.text_field :relevance %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :subregion %><br>
    <%= f.text_field :subregion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
