<h1>Listing countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Locale name</th>
      <th>Cca2</th>
      <th>Ccn3</th>
      <th>Cca3</th>
      <th>Tld</th>
      <th>Currency</th>
      <th>Calling code</th>
      <th>Capital</th>
      <th>Alt spellings</th>
      <th>Relevance</th>
      <th>Region</th>
      <th>Subregion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.locale_name %></td>
        <td><%= country.cca2 %></td>
        <td><%= country.ccn3 %></td>
        <td><%= country.cca3 %></td>
        <td><%= country.tld %></td>
        <td><%= country.currency %></td>
        <td><%= country.calling_code %></td>
        <td><%= country.capital %></td>
        <td><%= country.alt_spellings %></td>
        <td><%= country.relevance %></td>
        <td><%= country.region %></td>
        <td><%= country.subregion %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
