<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Locale name:</strong>
  <%= @country.locale_name %>
</p>

<p>
  <strong>Cca2:</strong>
  <%= @country.cca2 %>
</p>

<p>
  <strong>Ccn3:</strong>
  <%= @country.ccn3 %>
</p>

<p>
  <strong>Cca3:</strong>
  <%= @country.cca3 %>
</p>

<p>
  <strong>Tld:</strong>
  <%= @country.tld %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @country.currency %>
</p>

<p>
  <strong>Calling code:</strong>
  <%= @country.calling_code %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @country.capital %>
</p>

<p>
  <strong>Alt spellings:</strong>
  <%= @country.alt_spellings %>
</p>

<p>
  <strong>Relevance:</strong>
  <%= @country.relevance %>
</p>

<p>
  <strong>Region:</strong>
  <%= @country.region %>
</p>

<p>
  <strong>Subregion:</strong>
  <%= @country.subregion %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
