<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Building name</th>
      <th>Street name</th>
      <th>Street</th>
      <th>Township</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.number %></td>
        <td><%= address.building_name %></td>
        <td><%= address.street_name %></td>
        <td><%= address.street.name %></td>
        <td><%= address.township.name %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
