<%= form_for(@street) do |f| %>
  <% if @street.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@street.errors.count, "error") %> prohibited this street from being saved:</h2>

      <ul>
      <% @street.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :locale_name %><br>
    <%= f.text_field :locale_name %>
  </div>
  <div class="field">
    <%= f.label :township_id %><br>
    <%= f.text_field :township_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
