<h1>Listing streets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Locale name</th>
      <th>Township</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @streets.each do |street| %>
      <tr>
        <td><%= street.name %></td>
        <td><%= street.locale_name %></td>
        <td><%= street.township.name %></td>
        <td><%= link_to 'Show', street %></td>
        <td><%= link_to 'Edit', edit_street_path(street) %></td>
        <td><%= link_to 'Destroy', street, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Street', new_street_path %>
