<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @street.name %>
</p>

<p>
  <strong>Locale name:</strong>
  <%= @street.locale_name %>
</p>

<p>
  <strong>Township:</strong>
  <%= @street.township %>
</p>

<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>
