<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Locale name:</strong>
  <%= @state.locale_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @state.country %>
</p>

<p>
  <strong>Code:</strong>
  <%= @state.code %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
