<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @nationality.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @nationality.name %>
</p>

<p>
  <strong>Locale name:</strong>
  <%= @nationality.locale_name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @nationality.code %>
</p>

<%= link_to 'Edit', edit_nationality_path(@nationality) %> |
<%= link_to 'Back', nationalities_path %>
