<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @township.name %>
</p>

<p>
  <strong>Locale name:</strong>
  <%= @township.locale_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @township.city %>
</p>

<p>
  <strong>Code:</strong>
  <%= @township.code %>
</p>

<%= link_to 'Edit', edit_township_path(@township) %> |
<%= link_to 'Back', townships_path %>
